"*":
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "relative-numbers"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      ".DS_Store"
      "node_modules"
      "data"
      "build"
      ".next"
    ]
    projectHome: "/Users/notrab/code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 17
    invisibles: {}
  "exception-reporting":
    invisibles: {}
    userId: "85619f8b-ad66-00ee-805c-c7e1e4990c17"
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierEslintOptions: {}
    prettierOptions:
      semi: false
      singleQuote: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
