"*":
  core:
    disabledPackages: [
      "vim-mode-plus"
      "vim-mode"
      "relative-numbers"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".DS_Store"
      "node_modules"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Operator Mono"
    fontSize: 16
  "exception-reporting":
    invisibles: {}
    userId: "85619f8b-ad66-00ee-805c-c7e1e4990c17"
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
